@font-face {
	font-family: 'Titillium Web';
	src: url('./fonts/Titillium Web/TitilliumWeb-Regular.ttf');
	/* IE9 Compat Modes */
	src: url('./fonts/Titillium Web/TitilliumWeb-Regular.ttf') format('ttf'), /* Pretty Modern Browsers */
}
@font-face {
	font-family: 'Titillium Web';
	src: url('./fonts/Titillium Web/TitilliumWeb-Bold.ttf');
	/* IE9 Compat Modes */
	src: url('./fonts/LatoTitillium Web/TitilliumWeb-Bold.ttf') format('ttf'), /* Pretty Modern Browsers */
}

html {
	min-height: 100%;
	 height: 100%;
}
body {
	font-family: "Titillium Web", sans-serif;
	//background-color: aqua;
	position: relative;
	min-height: 100%;
	height: 100%;
	background-color: #f9f9f9;
}

#clogin {
	margin-top: 100px;
	
}

.log {
	

	width: 100%; 
	position: absolute;
	bottom: -5%;
	max-height: 105%;
	//z-index: 100;
	left: 0%;

}

.login {
	position: relative;
	height: 200px;
	max-height: 200px;
	margin-top: 100px;
}

#adminbtn {
	position: fixed;
	bottom: 0%;
	left: 90%;
}
