main {
margin-top: 5vh;
}
.card{
margin-top: 5vh;
}

#contform{
width: 88%;
margin-top: 5vh !important;
display: block;
  margin-left: auto;
  margin-right: auto;
}
#pruebasbox {
position: relative;

}
#suggesstion-box{
position: absolute;
top: 111%;
z-index: 1000;
border: 1px solid black;
padding: 5px;
background-color: #f8f9fa;
}